<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>~Recept & Näring~</h1>
      <nav>
        <ul>
          <li><a href="index.html">Start</a></li>
          <li><a href="recept.html">Recept</a></li>
          <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
    </header>
    <main id="form">
        <div class="rowClass">
            <div id="recipeForm" >
                <h3>Lägg till recept</h3>
                <input v-model="title" id="title" type="text" name="title" placeholder="titel">
                <input v-model="description" id="description" type="text" name="description" placeholder="instruktion">
                <input v-model="time" id="time" type="text" name="time" placeholder="tid">
                <input v-model="persons" id="persons" type="number" name="persons" placeholder="portioner">
                <select v-model="category" value="kategori">
                    <option disabled value="">kategori</option>
                    <option v-for="c in categories"> {{c}} </option>
                </select>
                <input type="submit" v-on:click="addCategory" value="Lägg till kategori" >
                <input type="text" v-model="newCat" placeholder="lägg till kategori" id="newCatInput" class="hidden">
                <form v-on:change="uploadImage($event)" enctype="multipart/form-data">
                   <h4>Lägg till en bild</h4>
                   <input type="file" accept="image/*" name="picture"> 
                   <input type="submit" v-on:click="removeImg" value="Ta bort">
                </form>
            </div>
            <div id="ingredientForm">
                <h4>Lägg till ingredienser</h4>
                <input v-on:keyup="autocomplete" v-model="name" id="name" type="text" placeholder="namn">
                        
                <ul>
                    <li v-for="m in match" v-on:click="getChoice">
                        {{m}}
                    </li>
                </ul>
                <input v-model="quantity" id="quantity" type="number" placeholder="mängd">
                <select v-model="unit" id="unit" value="måttenhet">
                    <option disabled value="">måttenhet</option>
                    <option v-for="unit in units"> {{unit}} </option>
                </select>
                <input v-on:click="add" type="submit" value="Lägg till ingrediens">
                <ul>
                    <li v-for="ing in ingredients">
                         {{ing.name}} {{ing.quantity}} {{ing.unit}}
                    </li>
                </ul>
                <input v-on:click="save" type="submit" value="Spara recept" id="saveRecipe">
            </div>
        </div>       
    </main>
    
    <footer>
        <p>receptnaring@gmail.com</p>
        <div>
          <a href="https://facebook.com"><img src="/img/fbicon.png" class="icon"></a>
          <a href="http://instagram.com"><img src="/img/instagramicon.png" class="icon"></a>
          <a href="http://twitter.com"><img src="/img/twittericon.png" class="icon"></a> 
        </div>
    </footer>
         
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/classes/ingredientBr.class.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>