<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
  </head>
  <body> 
    <div id="indexPage">
      <header>
        <h1>~Recept & Näring~</h1>
        <nav>
          <ul>
            <li><a href="index.html">Start</a></li>
            <li><a href="recept.html">Recept</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
            <li v-on:click="login" id="admin">Logga in</li>
            <li><input type="password" v-model="word" v-on:keyup="toAdminPage" placeholder="lösenord" class="hidden" id="password"></li>
          </ul>
        </nav>
      </header>
      <main id="indexMain" class="rowClass">
        <div id="primary">
          <h3>Välkommen</h3>
          <p>Välkommen till vår receptsida. Här kan du hitta många fina recept sorterade på kategorier. Varje recept innehåller information om näringsvärde per portion och du kan själv ändra nummer av portioner.</p>
          <img src="/img/cooking.jpg" id="homeimg">
        </div>
        <aside>
          <h4>Kategorier</h4>
          <ul>
            <li v-for="c in categories" v-on:click="goToCat">{{c}}</li>
          </ul>
        </aside>
      </main>
    </div>
    <footer>
      <p>receptnaring@gmail.com</p>
      <div>
        <a href="https://facebook.com"><img src="/img/fbicon.png" class="icon"></a>
        <a href="http://instagram.com"><img src="/img/instagramicon.png" class="icon"></a>
        <a href="http://twitter.com"><img src="/img/twittericon.png" class="icon"></a> 
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/classes/ingredientBr.class.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>