<!DOCTYPE html>

  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>~Recept & Näring~</h1>
      <nav>
        <ul>
          <li><a href="index.html">Start</a></li>
          <li><a href="recept.html">Recept</a></li>
          <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="columnClass" id="recipeMain" >
        <div class="inputClass">
          <input type="text" v-model="search" placeholder="sök recept här"  >
          <select v-model="selected" value="Välj kategori">
            <option disabled value="">Välj kategori</option>
            <option value="all">alla</option>
            <option v-for="c in categories"> {{c}} </option>
          </select>
          <input type="submit" v-on:click="findRecipe" id="searchButton" value="Sök">
        </div>
        <div class="hidden" id="list">
          <ul>
            <li v-for="name in recipeList" v-on:click="showSelected">
              {{name}}
            </li>
          </ul>
        </div>
        <div class="hidden" id="details1">
          <h2 class="centerClass">{{title}}</h2>
          <p class="centerClass" name="description">{{description}}</p>
          <img v-bind:src="'./img/'+picture">
        </div>
        <div class="inputClass hidden" id="details3">
          <input type="number" v-model="portions" placeholder="nummer av portioner">
          <input type="submit" v-on:click="recalculate" value="Räkna om">
        </div>
        <div class="rowClass hidden" id="details2">
          <div class="columnClass">
            <h3>Ingredienser:</h3>
            <ul>
              <li v-for="ing in ingredients">
                {{ing.name}} {{ing.quantity}} {{ing.unit}}
              </li>
            </ul>
          </div>
          <div class="columnClass">
            <p name="time"><b>Tid:</b> {{time}}</p>
            <p name="nrPersons"><b>Portioner:</b> {{nrPersons}}</p>
            <p name="category"><b>Kategori:</b> {{category}}</p>
          </div>
          <div class="columnClass">
            <h3>Näringsvärde per portion:</h3>
            <p><b>energi:</b> {{nutritionValue.energiKcal}} kcal</p>
            <p><b>kolhydrater:</b> {{nutritionValue.kolhydrater}} g</p>
            <p><b>protein:</b> {{nutritionValue.protein}} g</p>
            <p><b>fett:</b> {{nutritionValue.fett}} g</p>
            <p><b>salt:</b> {{nutritionValue.salt}} g</p>
          </div>
        </div>
      </div>
    </main>
    
    <footer>
      <p>receptnaring@gmail.com</p>
      <div>
        <a href="https://facebook.com"><img src="/img/fbicon.png" class="icon"></a>
        <a href="http://instagram.com"><img src="/img/instagramicon.png" class="icon"></a>
        <a href="http://twitter.com"><img src="/img/twittericon.png" class="icon"></a> 
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/classes/ingredientBr.class.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/recept.js"></script>
  </body>
</html>