nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
header{
    background-color: bisque;
    padding-bottom: 10px;
    padding-top: 20px;
}
h1{
    text-align: center;
    font-style: oblique;
}

#primary{
    text-align: center;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}
#homeimg{
    width: 400px;
    height: 200px;
}
aside{
    width: 35%;
    padding-left: 10%;
    height: 70%;
    
}
#search{
    margin-left: 30%;
}
aside ul{
    list-style-type: none;
    text-align: center;
}
footer{
    background-color: bisque;
    text-align: end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#recipeForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#ingredientForm{
    display: flex;
    flex-direction: column;
    width: 40%;
}
#ingredientForm ul{
    list-style-type: none;
}
.columnClass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.rowClass{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
   
    
}
.hidden{
    display: none;
}
.inputClass{
    
    text-align: end;
    margin-bottom: 20 px;
    border-style: solid none solid none;
    border-color: black;
    height: 38px;
    width: 100%;
}
.centerClass{
    text-align: center;
}
input{
    padding-bottom: 9px;
    margin-bottom: 5px;
    margin-top: 5px;
}
select{
    padding-bottom: 10px;
    margin-bottom: 5px;
}
#recipeMain, #indexMain, #form{
    margin-bottom: 65px;
}

#details2{
    border-bottom-style: solid;
    border-bottom-color: black;
    justify-content: space-around;
    width: 100%;
}
#details1{
    margin: auto;
    width: 65%;
}
#saveRecipe{
    margin-top: 40px;
}
#form{
    margin-right: 0;
}
img{
    width: 800px;
    height: 500px;
}

